[Desktop Entry]
Type=Application
Exec=ladybuggy
Icon=ladybuggy
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;

Name=Ladybuggy
GenericName=Terminal
Comment=A wayland native terminal emulator
