[Desktop Entry]
Type=Application
Exec=ladybuggy --server
Icon=ladybuggy
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;

Name=Ladybuggy Server
GenericName=Terminal
Comment=A wayland native terminal emulator (server)
